.button-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
}
.playlist-music-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.button-border{
    border-style: none;
}

@media screen and (max-width: 992px) {
    .button-container{
        grid-template-columns: repeat(2, 1fr);
    }
}